@import "../../styles/global-variables.scss";

.hero-component {
	height: calc(100vh - 7rem);
	width: 100vw;
	background: url("../../assets/Hero\ Image.png") no-repeat center;
	background-size: cover;
}
